# Data acquisition

In [1]:
from pathlib import Path

import pandas as pd
import functions.data_acquisition as data_funcs
import configuration as config

Path(config.RAW_DATA_DIRECTORY).mkdir(parents=True, exist_ok=True)
Path(config.INTERIM_DATA_DIRECTORY).mkdir(parents=True, exist_ok=True)
Path(config.PROCESSED_DATA_DIRECTORY).mkdir(parents=True, exist_ok=True)

## 1. NTSB incident data

Data source: [NTSB Downloadable Aviation Datasets](https://data.ntsb.gov/avdata)

### 1.1. Download

In [2]:
data_funcs.download_data(config.INCIDENT_DATA_URL, config.RAW_DATA_DIRECTORY, config.RAW_INCIDENTS_MDB_FILE)

### 1.2. Parse and save as CSV

Uses [access_parser](https://github.com/claroty/access_parser) to convert Microsoft Access database file to CSV and then read into Pandas DataFrame.

In [3]:
table=data_funcs.parse_mdb(config.RAW_INCIDENTS_MDB_FILE, config.RAW_INCIDENTS_CSV_FILE)

## 2. On-time performance data

Data source: [Airline Service Quality Performance 234 (On-Time performance data)](https://www.bts.gov/browse-statistical-products-and-data/bts-publications/airline-service-quality-performance-234-time)

### 2.1. Get download links

In [4]:
links=data_funcs.get_ontime_links(config.ONTIME_DATA_URL)

### 2.2. Download on-time data

In [5]:
data_funcs.download_ontime_data(links[:config.ONTIME_FILES], config.ONTIME_DATA_LINK_PREFIX, config.RAW_DATA_DIRECTORY)

### 2.3. Parse and combine on-time datafiles

In [6]:
ontime_df=data_funcs.parse_asc_datafiles(config.ONTIME_FILES, config.RAW_DATA_DIRECTORY, config.RAW_ONTIME_CSV_FILE)

../data/raw/ontime.td.202412.asc

../data/raw/ontime.td.202410.asc
../data/raw/ontime.td.202411.asc

## 3. Feature extraction

### 3.1. Incident data

In [7]:
incidents_df=pd.read_csv(config.RAW_INCIDENTS_CSV_FILE, low_memory=False)
incidents_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29157 entries, 0 to 29156
Data columns (total 93 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Aircraft_Key             29157 non-null  int64
 1   cert_max_gr_wt           19951 non-null  float64
 2   fc_seats                 11273 non-null  float64
 3   cc_seats                 1387 non-null   float64
 4   pax_seats                10435 non-null  float64
 5   total_seats              22995 non-null  float64
 6   num_eng                  24963 non-null  float64
 7   date_last_insp           19274 non-null  object
 8   afm_hrs_last_insp        7949 non-null   float64
 9   afm_hrs                  18910 non-null  float64
 10  dprt_time                18521 non-null  float64
 11  phase_flt_spec           0 non-null      float64
 12  lchg_date                29157 non-null  object
 13  rwy_len                  12906 non-null  float64
 14  rwy_width                12842 non-null  float64
 15  acft_year                15051 non-null  float64
 16  commercial_space_flight  29157 non-null  bool
 17  unmanned                 29157 non-null  bool
 18  ifr_equipped_cert        29157 non-null  bool
 19  elt_mounted_aircraft     29157 non-null  bool
 20  elt_connected_antenna    29157 non-null  bool
 21  ev_id                    29157 non-null  object
 22  regis_no                 29112 non-null  object
 23  ntsb_no                  29157 non-null  object
 24  acft_missing             29157 non-null  object
 25  far_part                 28453 non-null  object
 26  flt_plan_filed           24539 non-null  object
 27  flight_plan_activated    17653 non-null  object
 28  damage                   27244 non-null  object
 29  acft_fire                28901 non-null  object
 30  acft_expl                28076 non-null  object
 31  acft_make                29114 non-null  object
 32  acft_model               29103 non-null  object
 33  acft_series              10888 non-null  object
 34  acft_serial_no           26499 non-null  object
 35  acft_category            28757 non-null  object
 36  acft_reg_cls             0 non-null      float64
 37  homebuilt                29157 non-null  object
 38  fixed_retractable        29157 non-null  object
 39  type_last_insp           21698 non-null  object
 40  elt_install              20795 non-null  object
 41  elt_oper                 16262 non-null  object
 42  elt_aided_loc_ev         9334 non-null   object
 43  elt_type                 13173 non-null  object
 44  owner_acft               15761 non-null  object
 45  owner_street             9327 non-null   object
 46  owner_city               24558 non-null  object
 47  owner_state              24020 non-null  object
 48  owner_country            27220 non-null  object
 49  owner_zip                23317 non-null  object
 50  oper_individual_name     29157 non-null  object
 51  oper_name                15085 non-null  object
 52  oper_same                0 non-null      float64
 53  oper_dba                 1361 non-null   object
 54  oper_addr_same           0 non-null      float64
 55  oper_street              7376 non-null   object
 56  oper_city                23898 non-null  object
 57  oper_state               23359 non-null  object
 58  oper_country             27037 non-null  object
 59  oper_zip                 21934 non-null  object
 60  oper_code                1870 non-null   object
 61  certs_held               25791 non-null  object
 62  oprtng_cert              0 non-null      float64
 63  oper_cert                0 non-null      float64
 64  oper_cert_num            1056 non-null   object
 65  oper_sched               3447 non-null   object
 66  oper_dom_int             3123 non-null   object
 67  oper_pax_cargo           2908 non-null   object
 68  type_fly                 23473 non-null  object
 69  second_pilot             23565 non-null  object
 70  dprt_pt_same_ev          4401 non-null   object
 71  dprt_apt_id              20953 non-null  object
 72  dprt_city                23515 non-null  object
 73  dprt_state               21659 non-null  object
 74  dprt_country             24093 non-null  object
 75  dprt_timezn              0 non-null      float64
 76  dest_same_local          0 non-null      float64
 77  dest_apt_id              18641 non-null  object
 78  dest_city                21347 non-null  object
 79  dest_state               19628 non-null  object
 80  dest_country             22225 non-null  object
 81  report_to_icao           0 non-null      float64
 82  evacuation               0 non-null      float64
 83  lchg_userid              9966 non-null   object
 84  afm_hrs_since            29157 non-null  object
 85  rwy_num                  13228 non-null  object
 86  site_seeing              25738 non-null  object
 87  air_medical              25749 non-null  object
 88  med_type_flight          132 non-null    object
 89  fuel_on_board            8743 non-null   float64
 90  elt_manufacturer         7022 non-null   object
 91  elt_model                6259 non-null   object
 92  elt_reason_other         0 non-null      float64
dtypes: bool(5), float64(24), int64(1), object(63)
memory usage: 19.7+ MB

In [8]:
pd.set_option('display.max_rows', 200)
incidents_df.head().transpose()

,0,1,2,3,4
Aircraft_Key,1,1,2,1,1
cert_max_gr_wt,NaN,2400.0,1960.0,2850.0,9920.0
fc_seats,NaN,NaN,NaN,NaN,NaN
cc_seats,NaN,NaN,NaN,NaN,NaN
pax_seats,NaN,NaN,NaN,NaN,NaN
total_seats,NaN,4.0,2.0,2.0,9.0
num_eng,NaN,1.0,1.0,1.0,1.0
date_last_insp,NaN,2007-04-01 00:00:00,2007-01-01 00:00:00,2007-09-01 00:00:00,NaN
afm_hrs_last_insp,NaN,75.0,NaN,NaN,NaN
afm_hrs,NaN,2865.0,340.0,516.0,1871.0
dprt_time,NaN,2200.0,2230.0,2100.0,400.0
phase_flt_spec,NaN,NaN,NaN,NaN,NaN
lchg_date,2023-08-03 13:29:08,2020-09-25 18:05:31,2020-09-25 18:05:31,2020-09-25 18:05:31,2020-09-25 18:04:02
rwy_len,NaN,2700.0,2700.0,5003.0,NaN
rwy_width,NaN,45.0,45.0,100.0,NaN
acft_year,NaN,NaN,NaN,NaN,NaN
commercial_space_flight,False,False,False,False,False
unmanned,False,False,False,False,False
ifr_equipped_cert,False,False,False,False,False
elt_mounted_aircraft,False,False,False,False,False
elt_connected_antenna,False,False,False,False,False
ev_id,20080211X00175,20080107X00026,20080107X00026,20080109X00036,20080107X00027
regis_no,N530NA,N8037W,N15EX,N579RM,N398J
ntsb_no,DFW08RA039,SEA08LA057A,SEA08LA057B,DFW08CA054,DFW08LA055
acft_missing,N,N,N,N,N
far_part,NUSN,091,091,091,091
flt_plan_filed,NaN,NONE,NONE,NONE,IFR
flight_plan_activated,NaN,NaN,NaN,N,Y
damage,SUBS,MINR,SUBS,SUBS,NaN
acft_fire,NaN,NONE,NONE,NONE,NONE
acft_expl,NaN,NONE,NONE,NONE,NONE
acft_make,Eurocopter France,PIPER,Barnard/Stancil,Micco Aircraft Company,Pilatus
acft_model,AS350B3,PA 28-180,Glastar,MAC-145B,PC-12/45
acft_series,NaN,NaN,NaN,NaN,NaN
acft_serial_no,NaN,28-2104,5496,260004,398
acft_category,HELI,AIR,AIR,AIR,AIR
acft_reg_cls,NaN,NaN,NaN,NaN,NaN
homebuilt,N,N,Y,N,N
fixed_retractable,FIXD,FIXD,FIXD,RETR,RETR
type_last_insp,NaN,ANNL,COAW,ANNL,UNK
elt_install,NaN,Y,Y,Y,Y
elt_oper,NaN,N,N,N,N
elt_aided_loc_ev,NaN,N,N,N,N
elt_type,NaN,NaN,NaN,NaN,NaN
owner_acft,NaN,Marshall White,Kenneth Couey,NaN,Oklahoma cardiovascular Associates PC
owner_street,NaN,NaN,NaN,NaN,NaN
owner_city,NaN,Sebastopol,Pioneer,Gonzales,Oklahoma City
owner_state,NaN,CA,CA,TX,OK
owner_country,NaN,USA,USA,USA,USA
owner_zip,NaN,95472,95666,78629,73`120
oper_individual_name,N,N,N,Y,N
oper_name,Prism Helicopters,Timothy Bennett,Kenneth Couey,NaN,NaN
oper_same,NaN,NaN,NaN,NaN,NaN
oper_dba,NaN,NaN,NaN,NaN,NaN
oper_addr_same,NaN,NaN,NaN,NaN,NaN
oper_street,NaN,NaN,NaN,NaN,NaN
oper_city,NaN,Novato,Pioneer,NaN,NaN
oper_state,NaN,CA,CA,NaN,NaN
oper_country,NaN,USA,USA,NaN,NaN
oper_zip,NaN,94949,95666,NaN,NaN
oper_code,NaN,NaN,NaN,NaN,NaN
certs_held,NaN,Y,Y,Y,Y
oprtng_cert,NaN,NaN,NaN,NaN,NaN
oper_cert,NaN,NaN,NaN,NaN,NaN
oper_cert_num,NaN,NaN,NaN,NaN,NaN
oper_sched,NaN,NaN,NaN,NaN,NaN
oper_dom_int,NaN,NaN,NaN,NaN,NaN
oper_pax_cargo,NaN,NaN,NaN,NaN,NaN
type_fly,EXLD,PERS,PERS,PERS,PERS
second_pilot,NaN,N,N,N,N
dprt_pt_same_ev,NaN,NaN,NaN,NaN,NaN
dprt_apt_id,NaN,O69,OQ3,T20,PHX
dprt_city,NaN,Petaluma,Sonoma,GONZALES,Phoenix
dprt_state,NaN,CA,CA,TX,CA
dprt_country,NaN,USA,USA,USA,USA
dprt_timezn,NaN,NaN,NaN,NaN,NaN
dest_same_local,NaN,NaN,NaN,NaN,NaN
dest_apt_id,NaN,OQ3,O70,AXH,PWA
dest_city,NaN,Sonoma,Jackson,HOUSTON,Oklahoma City
dest_state,NaN,CA,CA,TX,OK
dest_country,NaN,USA,USA,USA,USA
report_to_icao,NaN,NaN,NaN,NaN,NaN
evacuation,NaN,NaN,NaN,NaN,NaN
lchg_userid,gibs-i,NaN,NaN,NaN,NaN
afm_hrs_since,N,Y,Y,N,N
rwy_num,NaN,7,7,090,NaN
site_seeing,N,N,N,N,N
air_medical,N,N,N,N,N
med_type_flight,NaN,NaN,NaN,NaN,NaN
fuel_on_board,NaN,NaN,NaN,NaN,NaN
elt_manufacturer,NaN,NaN,NaN,NaN,NaN
elt_model,NaN,NaN,NaN,NaN,NaN
elt_reason_other,NaN,NaN,NaN,NaN,NaN

In [9]:
incident_features={
    'dprt_time': 'departure_time',
    'dprt_apt_id': 'origin',
    'dest_apt_id': 'destination',
    'regis_no': 'tail_number'
}

extracted_incident_df=incidents_df[incident_features.keys()].copy()
extracted_incident_df=extracted_incident_df.rename(columns=incident_features)
extracted_incident_df['incident']=[1]*len(extracted_incident_df)
extracted_incident_df.dropna(inplace=True)
extracted_incident_df.to_csv(config.EXTRACTED_INCIDENTS_FILE, index=False)
extracted_incident_df.head()

   departure_time origin destination tail_number  incident
1          2200.0   O69         OQ3       N8037W         1
2          2230.0   OQ3         O70        N15EX         1
3          2100.0   T20         AXH       N579RM         1
4           400.0   PHX         PWA        N398J         1
5          2215.0   KFNL        KFNL      N24965         1

In [10]:
extracted_incident_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14393 entries, 1 to 29139
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   departure_time  14393 non-null  float64
 1   origin          14393 non-null  object
 2   destination     14393 non-null  object
 3   tail_number     14393 non-null  object
 4   incident        14393 non-null  int64
dtypes: float64(1), int64(1), object(3)
memory usage: 674.7+ KB

### 3.2. On-time data

In [11]:
ontime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1902949 entries, 0 to 1902948
Columns: 121 entries, DL to FORM-1
dtypes: float64(72), int64(29), object(20)
memory usage: 1.7+ GB

In [12]:
ontime_df.head().transpose()

                      0           1           2           3           4
DL                   DL          DL          DL          DL          DL
4032             4032.0      3667.0      4066.0      4066.0      3664.0
OO                   OO          OO          OO          OO          OO
4032.1           4032.0      3667.0      4066.0      4066.0      3664.0
9E                   9E          9E          9E          9E          9E
5539             5538.0      5540.0      5538.0      5539.0      5541.0
ORF                 LGA         DTW         MSP         BIS         MSN
LGA                 ORF         MSN         BIS         MSP         DTW
20241213     20241213.0  20241202.0  20241202.0  20241202.0  20241202.0
5                   5.0         1.0         1.0         1.0         1.0
1315             1100.0       825.0       905.0      1129.0       935.0
1315.1           1100.0       825.0       905.0      1129.0       935.0
1556             1338.0       821.0       901.0      1135.0       928.0
1450             1235.0       855.0      1049.0      1301.0      1158.0
1450.1           1235.0       855.0      1049.0      1301.0      1158.0
1718             1519.0       853.0      1053.0      1311.0      1151.0
0                     0           0           0           0           0
0.1                   0           0           0           0           0
95                 95.0        30.0       104.0        92.0       143.0
82                101.0        92.0       112.0        96.0        83.0
161               158.0        -4.0        -4.0         6.0        -7.0
148               164.0        -2.0         4.0        10.0        -7.0
-13                 6.0        62.0         8.0         4.0       -60.0
1617             1417.0       858.0       943.0      1207.0       955.0
1712             1514.0       848.0      1045.0      1304.0      1145.0
N915XJ           N915XJ      N907XJ      N166PQ      N166PQ      N907XJ
21                 39.0        37.0        42.0        32.0        27.0
6                   5.0         5.0         8.0         7.0         6.0
55                 57.0        50.0        62.0        57.0        50.0
Unnamed: 29         NaN         NaN         NaN         NaN         NaN
148.1             158.0         0.0         0.0         0.0         0.0
0.2                   0           0           0           0           0
0.3                   6           0           0           0           0
0.4                   0           0           0           0           0
0.5                   0           0           0           0           0
0.6                   0           0           0           0           0
0.7                   0           0           0           0           0
0.8                   0           0           0           0           0
0.9                   0           0           0           0           0
Unnamed: 39         NaN         NaN         NaN         NaN         NaN
0.10                  0           0           0           0           0
0.11                  0           0           0           0           0
0.12                  0           0           0           0           0
0.13                  0           0           0           0           0
Unnamed: 44         NaN         NaN         NaN         NaN         NaN
Unnamed: 45         NaN         NaN         NaN         NaN         NaN
0.14                  0           0           0           0           0
0.15                  0           0           0           0           0
0.16                  0           0           0           0           0
0.17                  0           0           0           0           0
Unnamed: 50         NaN         NaN         NaN         NaN         NaN
Unnamed: 51         NaN         NaN         NaN         NaN         NaN
0.18                  0           0           0           0           0
0.19                  0           0           0           0           0
0.20                  0           0           0           0           0
0.21                  0           0           0           0           0
Unnamed: 56         NaN         NaN         NaN         NaN         NaN
Unnamed: 57         NaN         NaN         NaN         NaN         NaN
0.22                  0           0           0           0           0
0.23                  0           0           0           0           0
0.24                  0           0           0           0           0
0.25                  0           0           0           0           0
Unnamed: 62         NaN         NaN         NaN         NaN         NaN
Unnamed: 63         NaN         NaN         NaN         NaN         NaN
0.26                  0           0           0           0           0
0.27                  0           0           0           0           0
0.28                  0           0           0           0           0
0.29                0.0         0.0         0.0         0.0         0.0
Unnamed: 68         NaN         NaN         NaN         NaN         NaN
FORM-3A         FORM-3A     FORM-3A     FORM-3A     FORM-3A     FORM-3A
N                     N           N           N           N           N
3673                NaN         NaN         NaN         NaN         NaN
3673.1              NaN         NaN         NaN         NaN         NaN
5538                NaN         NaN         NaN         NaN         NaN
DTW                 NaN         NaN         NaN         NaN         NaN
MSN                 NaN         NaN         NaN         NaN         NaN
20241121            NaN         NaN         NaN         NaN         NaN
4                   NaN         NaN         NaN         NaN         NaN
1230                NaN         NaN         NaN         NaN         NaN
1230.1              NaN         NaN         NaN         NaN         NaN
1511                NaN         NaN         NaN         NaN         NaN
1254                NaN         NaN         NaN         NaN         NaN
1254.1              NaN         NaN         NaN         NaN         NaN
1545                NaN         NaN         NaN         NaN         NaN
24                  NaN         NaN         NaN         NaN         NaN
94                  NaN         NaN         NaN         NaN         NaN
171                 NaN         NaN         NaN         NaN         NaN
70                  NaN         NaN         NaN         NaN         NaN
1552                NaN         NaN         NaN         NaN         NaN
1541                NaN         NaN         NaN         NaN         NaN
N909XJ              NaN         NaN         NaN         NaN         NaN
41                  NaN         NaN         NaN         NaN         NaN
4.1                 NaN         NaN         NaN         NaN         NaN
49                  NaN         NaN         NaN         NaN         NaN
101                 NaN         NaN         NaN         NaN         NaN
70.1                NaN         NaN         NaN         NaN         NaN
4800                NaN         NaN         NaN         NaN         NaN
Unnamed: 2          NaN         NaN         NaN         NaN         NaN
Unnamed: 3          NaN         NaN         NaN         NaN         NaN
4800.1              NaN         NaN         NaN         NaN         NaN
CLT                 NaN         NaN         NaN         NaN         NaN
20241007            NaN         NaN         NaN         NaN         NaN
1                   NaN         NaN         NaN         NaN         NaN
1736                NaN         NaN         NaN         NaN         NaN
1736.1              NaN         NaN         NaN         NaN         NaN
1732                NaN         NaN         NaN         NaN         NaN
1939                NaN         NaN         NaN         NaN         NaN
1939.1              NaN         NaN         NaN         NaN         NaN
1926                NaN         NaN         NaN         NaN         NaN
123                 NaN         NaN         NaN         NaN         NaN
114                 NaN         NaN         NaN         NaN         NaN
-4                  NaN         NaN         NaN         NaN         NaN
-9                  NaN         NaN         NaN         NaN         NaN
1801                NaN         NaN         NaN         NaN         NaN
1916                NaN         NaN         NaN         NaN         NaN
N923XJ              NaN         NaN         NaN         NaN         NaN
29                  NaN         NaN         NaN         NaN         NaN
10                  NaN         NaN         NaN         NaN         NaN
75                  NaN         NaN         NaN         NaN         NaN
0.30                NaN         NaN         NaN         NaN         NaN
FORM-1              NaN         NaN         NaN         NaN         NaN

In [13]:
ontime_features={
    # 'carrier': 0,
    # 'flight_number': 1,
    'origin': 6,
    'destination': 7,
    # 'date': 8,
    'departure_time': 12,
    'tail_number': 25 
}

extracted_ontime_df=ontime_df.iloc[:,list(ontime_features.values())].copy()
extracted_ontime_df.columns=ontime_features.keys()
extracted_ontime_df['incident']=[0]*len(extracted_ontime_df)
extracted_ontime_df.dropna(inplace=True)
extracted_ontime_df.to_csv(config.EXTRACTED_ONTIME_FILE, index=False)
extracted_ontime_df.head()

  origin destination  departure_time tail_number  incident
0    LGA         ORF          1338.0      N915XJ         0
1    DTW         MSN           821.0      N907XJ         0
2    MSP         BIS           901.0      N166PQ         0
3    BIS         MSP          1135.0      N166PQ         0
4    MSN         DTW           928.0      N907XJ         0

In [14]:
extracted_ontime_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 631177 entries, 0 to 632033
Data columns (total 5 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   origin          631177 non-null  object
 1   destination     631177 non-null  object
 2   departure_time  631177 non-null  float64
 3   tail_number     631177 non-null  object
 4   incident        631177 non-null  int64
dtypes: float64(1), int64(1), object(3)
memory usage: 28.9+ MB

### 3.3. Combine incident and on-time data

In [15]:
data_df=pd.concat([extracted_ontime_df, extracted_incident_df], axis=0)
data_df.reset_index(inplace=True, drop=True)
data_df['origin']=data_df['origin'].astype(str)
data_df['destination']=data_df['destination'].astype(str)
data_df['departure_time']=data_df['departure_time'].astype(float)
data_df['tail_number']=data_df['tail_number'].astype(str)
data_df['incident']=data_df['incident'].astype(int)
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645570 entries, 0 to 645569
Data columns (total 5 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   origin          645570 non-null  object
 1   destination     645570 non-null  object
 2   departure_time  645570 non-null  float64
 3   tail_number     645570 non-null  object
 4   incident        645570 non-null  int64
dtypes: float64(1), int64(1), object(3)
memory usage: 24.6+ MB

### 3.4. Save

In [16]:
data_df.to_csv(config.COMBINED_DATAFILE, index=False)