# Data acquisition

In [1]:
import importlib
import pandas as pd
import functions.data_acquisition as data_funcs

## 1. NTSB incident data

Data source: [NTSB Downloadable Aviation Datasets](https://data.ntsb.gov/avdata)

### 1.1. Download

In [13]:
url='https://data.ntsb.gov/avdata/FileDirectory/DownloadFile?fileID=C%3A%5Cavdata%5Cavall.zip'
data_funcs.download_data(url)

### 1.2. Parse

Uses [access_parser](https://github.com/claroty/access_parser) to convert Microsoft Access database file to CSV and then read into Pandas DataFrame.

In [14]:
file='avall.mdb'
table=data_funcs.parse_mdb(file)

### 1.3. Read

In [2]:
aircraft_df=pd.read_csv('../data/raw/aircraft.csv',low_memory=False)
aircraft_df.head()

,Aircraft_Key,cert_max_gr_wt,fc_seats,cc_seats,pax_seats,total_seats,num_eng,date_last_insp,afm_hrs_last_insp,afm_hrs,...,lchg_userid,afm_hrs_since,rwy_num,site_seeing,air_medical,med_type_flight,fuel_on_board,elt_manufacturer,elt_model,elt_reason_other
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,gibs-i,N,NaN,N,N,NaN,NaN,NaN,NaN,NaN
1,1,2400.0,NaN,NaN,NaN,4.0,1.0,2007-04-01 00:00:00,75.0,2865.0,...,NaN,Y,7,N,N,NaN,NaN,NaN,NaN,NaN
2,2,1960.0,NaN,NaN,NaN,2.0,1.0,2007-01-01 00:00:00,NaN,340.0,...,NaN,Y,7,N,N,NaN,NaN,NaN,NaN,NaN
3,1,2850.0,NaN,NaN,NaN,2.0,1.0,2007-09-01 00:00:00,NaN,516.0,...,NaN,N,090,N,N,NaN,NaN,NaN,NaN,NaN
4,1,9920.0,NaN,NaN,NaN,9.0,1.0,NaN,NaN,1871.0,...,NaN,N,NaN,N,N,NaN,NaN,NaN,NaN,NaN

## 2. On-time performance data

### 2.1. Get download links

In [2]:
path = '../data/raw/on time data'
importlib.reload(data_funcs)
data_funcs.unzip_files(path, path, separate_folders=True)

All zip files have been extracted.

In [ ]:
# path = '../data/raw/on time data'
# importlib.reload(data_funcs)
# on_time_df = data_funcs.combine_csvs_from_subfolders_chunked(path, output_filename="combined_data.csv")

Processing ../data/raw/on time data/On_Time_Reporting_Carrier_On_Time_Performance_1987_present_2024_12/On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2024_12.csv...
Processing ../data/raw/on time data/On_Time_Reporting_Carrier_On_Time_Performance_1987_present_2024_9/On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2024_9.csv...
Processing ../data/raw/on time data/On_Time_Reporting_Carrier_On_Time_Performance_1987_present_2024_6/On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2024_6.csv...
Processing ../data/raw/on time data/On_Time_Reporting_Carrier_On_Time_Performance_1987_present_2024_3/On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2024_3.csv...
Processing ../data/raw/on time data/On_Time_Reporting_Carrier_On_Time_Performance_1987_present_2024_10/On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2024_10.csv...
Processing ../data/raw/on time data/On_Time_Reporting_Carrier_On_Time_Performance_1987_present_2024_2/On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2024_2.csv...
Processing ../data/raw/on time data/On_Time_Reporting_Carrier_On_Time_Performance_1987_present_2024_7/On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2024_7.csv...
Processing ../data/raw/on time data/On_Time_Reporting_Carrier_On_Time_Performance_1987_present_2024_11/On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2024_11.csv...
Processing ../data/raw/on time data/On_Time_Reporting_Carrier_On_Time_Performance_1987_present_2024_4/On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2024_4.csv...
Processing ../data/raw/on time data/On_Time_Reporting_Carrier_On_Time_Performance_1987_present_2024_8/On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2024_8.csv...
Processing ../data/raw/on time data/On_Time_Reporting_Carrier_On_Time_Performance_1987_present_2024_5/On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2024_5.csv...
Processing ../data/raw/on time data/On_Time_Reporting_Carrier_On_Time_Performance_1987_present_2024_1/On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2024_1.csv...

✅ Combined CSV saved to: ../data/raw/on time data/combined_data.csv

In [ ]:
# url='https://www.bts.gov/browse-statistical-products-and-data/bts-publications/airline-service-quality-performance-234-time'
# links=data_funcs.get_ontime_links(url)

### 2.2. Download on-time data

In [ ]:
# n_files=3

# data_funcs.download_ontime_data(links[:n_files])

### 2.3. Parse and combine on-time datafiles

In [ ]:
# data_df=data_funcs.read_asc_datafiles(n_files)

../data/raw/ontime.td.202412.asc
../data/raw/ontime.td.202410.asc
../data/raw/ontime.td.202411.asc

### 2.3. Save as CSV

In [ ]:
# data_df.to_csv('../data/raw/on_time.csv', index=False)

## 2. Airline Registration Data

### 2.1. Download the data

In [12]:
# importlib.reload(data_funcs)

# url='https://www.faa.gov/licenses_certificates/aircraft_certification/aircraft_registry/releasable_aircraft_download'
# aircraft_regis_df = data_funcs.download_airplane_regis(url)

In [6]:
pd.set_option('display.max_columns', None)
path = '../data/raw/on time data/combined_data.csv'

df_preview = pd.read_csv(path, nrows=5)
df_preview

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,Tail_Number,Flight_Number_Reporting_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,Origin,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,Dest,DestCityName,DestState,DestStateFips,DestStateName,DestWac,CRSDepTime,DepTime,DepDelay,DepDelayMinutes,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrTime,ArrDelay,ArrDelayMinutes,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,Cancelled,CancellationCode,Diverted,CRSElapsedTime,ActualElapsedTime,AirTime,Flights,Distance,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,FirstDepTime,TotalAddGTime,LongestAddGTime,DivAirportLandings,DivReachedDest,DivActualElapsedTime,DivArrDelay,DivDistance,Div1Airport,Div1AirportID,Div1AirportSeqID,Div1WheelsOn,Div1TotalGTime,Div1LongestGTime,Div1WheelsOff,Div1TailNum,Div2Airport,Div2AirportID,Div2AirportSeqID,Div2WheelsOn,Div2TotalGTime,Div2LongestGTime,Div2WheelsOff,Div2TailNum,Div3Airport,Div3AirportID,Div3AirportSeqID,Div3WheelsOn,Div3TotalGTime,Div3LongestGTime,Div3WheelsOff,Div3TailNum,Div4Airport,Div4AirportID,Div4AirportSeqID,Div4WheelsOn,Div4TotalGTime,Div4LongestGTime,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
0,2024,4,12,25,3,2024-12-25,9E,20363,9E,N902XJ,5125,11995,1199502,31995,GSO,"Greensboro/High Point, NC",NC,37,North Carolina,36,12953,1295304,31703,LGA,"New York, NY",NY,36,New York,22,1240,1235.0,-5.0,0.0,0.0,-1.0,1200-1259,11.0,1246.0,1350.0,6.0,1429,1356.0,-33.0,0.0,0.0,-2.0,1400-1459,0.0,NaN,0.0,109.0,81.0,64.0,1.0,461.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024,4,12,26,4,2024-12-26,9E,20363,9E,N491PX,5125,11995,1199502,31995,GSO,"Greensboro/High Point, NC",NC,37,North Carolina,36,12953,1295304,31703,LGA,"New York, NY",NY,36,New York,22,1150,1146.0,-4.0,0.0,0.0,-1.0,1100-1159,15.0,1201.0,1305.0,5.0,1336,1310.0,-26.0,0.0,0.0,-2.0,1300-1359,0.0,NaN,0.0,106.0,84.0,64.0,1.0,461.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024,4,12,27,5,2024-12-27,9E,20363,9E,N915XJ,5125,11995,1199502,31995,GSO,"Greensboro/High Point, NC",NC,37,North Carolina,36,12953,1295304,31703,LGA,"New York, NY",NY,36,New York,22,1150,1144.0,-6.0,0.0,0.0,-1.0,1100-1159,13.0,1157.0,1301.0,6.0,1336,1307.0,-29.0,0.0,0.0,-2.0,1300-1359,0.0,NaN,0.0,106.0,83.0,64.0,1.0,461.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024,4,12,28,6,2024-12-28,9E,20363,9E,N917XJ,5125,11995,1199502,31995,GSO,"Greensboro/High Point, NC",NC,37,North Carolina,36,12953,1295304,31703,LGA,"New York, NY",NY,36,New York,22,1100,1214.0,74.0,74.0,1.0,4.0,1100-1159,13.0,1227.0,1333.0,7.0,1244,1340.0,56.0,56.0,1.0,3.0,1200-1259,0.0,NaN,0.0,104.0,86.0,66.0,1.0,461.0,2,0.0,0.0,0.0,0.0,56.0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024,4,12,29,7,2024-12-29,9E,20363,9E,N479PX,5125,11995,1199502,31995,GSO,"Greensboro/High Point, NC",NC,37,North Carolina,36,12953,1295304,31703,LGA,"New York, NY",NY,36,New York,22,1150,1141.0,-9.0,0.0,0.0,-1.0,1100-1159,17.0,1158.0,1303.0,8.0,1336,1311.0,-25.0,0.0,0.0,-2.0,1300-1359,0.0,NaN,0.0,106.0,90.0,65.0,1.0,461.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
[FlightDate	Reporting_Airline,	DOT_ID_Reporting_Airline, Tail_Number, Flight_Number_Reporting_Airline, OriginAirportID, OriginCityName, OriginStateName, DestAirportID, DestCityName, DestStateName]

In [7]:
path = '../data/raw/on time data/combined_data.csv'

# Define only the columns you need
cols_to_use = [
    'FlightDate',
    'Reporting_Airline',
    'DOT_ID_Reporting_Airline',
    'Tail_Number',
    'Flight_Number_Reporting_Airline',
    'OriginAirportID',
    'OriginCityName',
    'OriginStateName',
    'DestAirportID',
    'DestCityName',
    'DestStateName'
]

# Load only the specified columns
df_subset = pd.read_csv(path, usecols=cols_to_use)

In [8]:
df_subset.head()

,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,Tail_Number,Flight_Number_Reporting_Airline,OriginAirportID,OriginCityName,OriginStateName,DestAirportID,DestCityName,DestStateName
0,2024-12-25,9E,20363,N902XJ,5125.0,11995,"Greensboro/High Point, NC",North Carolina,12953,"New York, NY",New York
1,2024-12-26,9E,20363,N491PX,5125.0,11995,"Greensboro/High Point, NC",North Carolina,12953,"New York, NY",New York
2,2024-12-27,9E,20363,N915XJ,5125.0,11995,"Greensboro/High Point, NC",North Carolina,12953,"New York, NY",New York
3,2024-12-28,9E,20363,N917XJ,5125.0,11995,"Greensboro/High Point, NC",North Carolina,12953,"New York, NY",New York
4,2024-12-29,9E,20363,N479PX,5125.0,11995,"Greensboro/High Point, NC",North Carolina,12953,"New York, NY",New York

In [9]:
df_subset.to_csv('../data/raw/features_selected_on_time.csv', index=False)

In [10]:
df_subset.shape

(7079061, 11)

In [13]:
path = '../data/raw/aircraft registry/Selected_Features_Aircraft_Registry.csv'
airplane_registry_df = pd.read_csv(path)

In [14]:
airplane_registry_df

       N-NUMBER  ENG MFR MDL TYPE AIRCRAFT  TYPE ENGINE
0          N100      17003.0             4          1.0
1        N10000          NaN             4          1.0
2        N10001      67007.0             4          1.0
3        N10004          NaN             4          2.0
4        N10006      17026.0             4          1.0
...         ...          ...           ...          ...
124663   N430SP          NaN             6          3.0
124664   N430SR          0.0             2          0.0
124665   N430ST       3014.0             6          3.0
124666   N430SU      42710.0             4          1.0
124667   N430SW      30015.0           NaN          NaN

[124668 rows x 4 columns]

In [15]:
airplane_registry_df = airplane_registry_df.rename(columns={'N-NUMBER': 'Tail_Number'})
airplane_registry_df

       Tail_Number  ENG MFR MDL TYPE AIRCRAFT  TYPE ENGINE
0             N100      17003.0             4          1.0
1           N10000          NaN             4          1.0
2           N10001      67007.0             4          1.0
3           N10004          NaN             4          2.0
4           N10006      17026.0             4          1.0
...            ...          ...           ...          ...
124663      N430SP          NaN             6          3.0
124664      N430SR          0.0             2          0.0
124665      N430ST       3014.0             6          3.0
124666      N430SU      42710.0             4          1.0
124667      N430SW      30015.0           NaN          NaN

[124668 rows x 4 columns]

In [17]:
merged_df = pd.merge(df_subset, airplane_registry_df, on='Tail_Number', how='left')
merged_df

,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,Tail_Number,Flight_Number_Reporting_Airline,OriginAirportID,OriginCityName,OriginStateName,DestAirportID,DestCityName,DestStateName,ENG MFR MDL,TYPE AIRCRAFT,TYPE ENGINE
0,2024-12-25,9E,20363,N902XJ,5125.0,11995,"Greensboro/High Point, NC",North Carolina,12953,"New York, NY",New York,NaN,NaN,NaN
1,2024-12-26,9E,20363,N491PX,5125.0,11995,"Greensboro/High Point, NC",North Carolina,12953,"New York, NY",New York,NaN,NaN,NaN
2,2024-12-27,9E,20363,N915XJ,5125.0,11995,"Greensboro/High Point, NC",North Carolina,12953,"New York, NY",New York,NaN,NaN,NaN
3,2024-12-28,9E,20363,N917XJ,5125.0,11995,"Greensboro/High Point, NC",North Carolina,12953,"New York, NY",New York,NaN,NaN,NaN
4,2024-12-29,9E,20363,N479PX,5125.0,11995,"Greensboro/High Point, NC",North Carolina,12953,"New York, NY",New York,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7079056,2024-01-02,UA,19977,N411UA,2664.0,14908,"Santa Ana, CA",California,14771,"San Francisco, CA",California,NaN,NaN,NaN
7079057,2024-01-02,UA,19977,N426UA,2663.0,11292,"Denver, CO",Colorado,13342,"Milwaukee, WI",Wisconsin,34601.0,5,5.0
7079058,2024-01-02,UA,19977,N77520,2663.0,14683,"San Antonio, TX",Texas,11292,"Denver, CO",Colorado,NaN,NaN,NaN
7079059,2024-01-02,UA,19977,N446UA,2662.0,11292,"Denver, CO",Colorado,14057,"Portland, OR",Oregon,NaN,NaN,NaN
7079060,2024-01-02,UA,19977,N849UA,2661.0,13930,"Chicago, IL",Illinois,14893,"Sacramento, CA",California,NaN,NaN,NaN

In [18]:
merged_df['ENG MFR MDL'].notna().sum()

2459603

In [19]:

merged_df.to_csv('../data/raw/merged_on_time.csv', index=False)